<a href="https://colab.research.google.com/github/leo21l/leonardolujan-CLOCK/blob/main/PYCL_02_Arithmetic_and_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A Python Introduction for New (and not-so-new) Programmers
## Part 02: Arithmetic and Variables

*This Python Notebook is part of a sequence authored by [Timothy R James](https://timothyrjames.com/) - feel free to modify, copy, share, or use for your own purposes.*

---

In this Notebook file, we'll talk about basic arithmetic in Python, and introduce the concept of **variables**.

## Basic Python Arithmetic

Let's start out with some really simple Python to perform arithmetic. Adding numbers is a good place to start. For example, we can enter 1 + 1 (with no semicolons or other syntax). Push that play button below, and you'll see the result of Python interpreting "1 + 1".

In [2]:
1 + 1

2

We aren't limited to just two numbers at a time. We can add several numbers together in a single statement - we do not have to enter them one by one. Try running each of the code blocks below.

In [3]:
1 + 1 + 1

3

In [4]:
1 + 2 + 3 + 4

10

In [5]:
1 + 10 + 100 + 1000 + 10000

11111

Note that you can have 0, 1, or more spaces between your numbers and the plus sign - both of the following will work the same way. Spaces (along with tabs) are *whitespace* - we can place as many between our numbers and plus signs as we like.

In [6]:
1+10+100+1000+10000

11111

In [7]:
1 +  10 +100 +    1000 +           10000

11111

Note that it's typical to see a single space between numbers and symbols. The code above would most commonly be written like this:

In [8]:
1 + 10 + 100 + 1000 + 10000

11111

We can do more than just simple addition. We can also perform subtraction. Try running the code below (*I'll stop suggesting that now, but you can keep running code as much as you want, and I encourage you to do so*).

In [10]:
100 - 21

79

Again, just like with addition, we can subtract several numbers at the same time.

In [11]:
900 - 300 - 50

550

We can mix addition and subtraction. Python will follow the [order of operations](https://www.splashlearn.com/math-vocabulary/algebra/order-of-operations); addition and subtraction proceed left to right.

In [12]:
100 - 23 + 7 - 4

80

If you want to change the order of operations, you can enclose parts of the calculation in parentheses.

In [13]:
100 - (23 + 7) - 4

66

We can multiply, too, using an asterisk.

In [14]:
33 * 12

396

In [15]:
25 * 8

200

Different arithmetic operations can be mixed. Note that multiplication occurs before addition and subtraction, so ordering matters.

In [16]:
2 * 10 - 4 + 3 * 6

34

If you want to change the natural order, again, you can use parentheses.

In [17]:
2 * (10 - 4) + 3 * 6

30

Division uses a forward slash.

In [18]:
20 / 5

4.0

In [19]:
81 / 3

27.0

In [20]:
77 / 11

7.0

Note that when necessary, the result of a division operation can be a decimal. For example, `12 / 5` will result in `2.4`.

In [21]:
12 / 5

2.4

If we want to use integer division (also called floor division), we use a double forward slash. This drops off the decimal portion - so `12 // 5` will give you `2` and not `2.4`.

In [22]:
12 // 5

2

There are times where you might need an integer, or you need to work with only the integer part of a number - especially in more complex algorithms.

Try running each of the code blocks below, so that you can see the difference between regular division and floor division.

In [23]:
50 / 11

4.545454545454546

In [24]:
50 // 11

4

In [25]:
25 / 8

3.125

In [28]:
25 // 8

3

We're not just limited to integer numbers - we can also use decimal numbers.

In [29]:
3.5 * 17.2

60.199999999999996

In [30]:
2.7 + 3.4

6.1

In [31]:
2.5 * 10.25 - 4.75 + 3.5 * 6.25

42.75

## Comments

**Comments** are a way to explain what's going on in your code, or why it's happening. It's a good way to write notes to your future self when you have to read it later; comments might also be useful to other people who might have to read your code. Python ignores your comments - they're just for human readers.

Comments are simple in Python, and it's a good idea to add some substantial comments to your code for clarity. In Python, there are 2 types of comments; single line comments and multi-line comments.

One thing to note: if you run the code blocks below, you'll find that they don't do anything - and that's the point! Again, Python ignores the comments - they're just to help other people understand what the code is doing, or why it's doing it.

Single line comments are created using the octothorpe (aka the pound or number sign).

In [32]:
# Most comments in Python start w/ an octothorpe (also known as the pound sign).
# You can have as many of these as you like as long as they start with '#'.

Multi line comments can use 3 single quotes.

In [34]:
''' Multi-line comments in Python can be created with 3 single quotes '''

' Multi-line comments in Python can be created with 3 single quotes '

Multi-line comments can also use 3 double quotes.

In [35]:
""" 
  Three
  double
  quotes
  is
  also
  ok
"""

' \n  Three\n  double\n  quotes\n  is\n  also\n  ok\n'

You're encouraged to add comments to clarify your own code; it's good to write comments any place where what your code is doing is unclear.

## Variables

**Variables** are a place for us to store data in our Python code. Computers have memory, too, and by using this memory we can solve more and more complex problems.

To declare a variable in Python, we just give it a descriptive name and **assign** a value to it. For example, the code below will create a variable called `number` and assign the `int` value `4` to it.

In [36]:
number = 4

If we want to see what the value of `number` is in a Colab Notebook, we just enter the variable name. If you ran the code block above, and then run the code block below, you should see `4`.

In [37]:
number

4

### Variable Names

In Python, our variable names will typically start with a letter. Variable names can include letters, numbers, and underscores. Variable names can't include spaces. 

Some valid variable names:
* `number`
* `number5`
* `number_5`
* `variablename`
* `a_long_name_is_ok`

Some variable names that aren't valid:
* `5numbers` - invalid, because variable names can't start with a number.
* `spaces are not ok` - invalid, because variable names can't have spaces.
* `variable-name` - invalid, because variable names can't contain hyphens.

More on Python variable naming rules is available [here](https://www.w3schools.com/python/gloss_python_variable_names.asp).

Another important point about variable names is that they are **case-sensitive**. This means that lower-case letters and upper-case letters are completely different in Python. For example, the following code block uses 2 different variable names.

In [38]:
value = 50
Value = 100

`value` starts with a lower case v. `Value` starts with an upper case V.

In [39]:
value

50

In [40]:
Value

100

### Using Variables

Variables can be used to perform calculations. We can start writing sequences of lines of code that perform particular operations.

In [41]:
number_five = 5
one_more_than_five = number_five + 1
one_more_than_five

6

# Examples

### Example 1 - Addition

Joe has 3 apples. Sam has 2 apples. Pat has 4 bananas. Max has 2 peaches. Eva has 4 apples. How many apples are there in the group?

In [42]:
# We can start by declaring variables for each person.
joe_apples = 3
sam_apples = 2
pat_bananas = 4
max_peaches = 2
eva_apples = 4

# Next, we can add the apples.
total_apples = joe_apples + sam_apples + eva_apples
total_apples

9

How many total fruits are in the group?

In [43]:
total_fruits = joe_apples + sam_apples + pat_bananas + max_peaches + eva_apples
total_fruits

15

Alternatively, you could have saved some work.

In [44]:
total_fruits = total_apples + pat_bananas + max_peaches
total_fruits

15

### Example 2 - Area of a Square

The code below can calculate the area of a square. It's simple - the area of a square is just the length of a side, multiplied by the length of a side. Since in a square all the side lenghts are the same, it's really easy.

In [45]:
side = 19
area = side * side
area

361

### Example 3 - Percentages

What is 75% of 2612?

In [46]:
number = 2612
percentage = 0.75
result = number * percentage
result

1959.0

What is the value of a 30% discount on a shirt that costs $29.99?

In [47]:
discount = 0.3
shirt_price = 29.99
discount_value = discount * shirt_price
discount_value

8.997

# Try It!

## Variables and Calculations

Now that you know some Python basics, how would you teach someone basic arithmetic in Python? Use the code block below to write and test a few examples.

* If sales tax is 6%, how much sales tax do you pay on a purchase of $7.98?
* What's the area of a triangle if its height is 8.2 and its base is 3.5?
* Assuming pi = 3.14, what's the circumference of a circle if its diameter is 19?

In [49]:
tax = 0.06
purchase = 7.98
amount = tax * purchase
amount

0.4788

In [54]:
height = 8.2
base = 3.5
# the area of a triangle is one half its base times its height.
area = .5 * base * height
area

14.349999999999998

In [56]:
pi = 3.14
diameter = 19
# circumference is the diameter multiplied by pi.
circ = diameter * pi
circ

59.660000000000004